<div class="flex justify-center py-12">
  <div class="card w-full bg-slate-50 bg-opacity-0 max-w-4xl shadow-lg rounded-lg overflow-hidden" style="padding: calc(var(--s1) * 24) var(--s6);">
    <div class="container mx-auto p-8">
      
      <!-- Heading Section -->
      <div class="text-left mb-8 ">
        <h1 class="text-3xl lg:text-4xl font-bold text-gray-800 dark:text-gray-100">Receive</h1>
      </div>

      <!-- First row with one big card -->
      <div class="flex justify-between gap-8 mb-8">
        <div class="card lg:card-side shadow-xl lg:flex-row-reverse bg-white">
          <figure>
            <img
              src="https://hookdeck.com/_astro/NeverMiss.6aHeRMR7_1nJ08h.webp"
              alt="Event Gateway" />
          </figure>
          <div class="card-body">
            <h2 class="card-title text-gray-800 ">Never miss an event.</h2>
            <p class="text-gray-600 ">Rely on an event gateway with unparalleled uptime and ingestion speeds.</p>
          </div>
        </div>
      </div>

      <!-- Second row with two small cards -->
      <div class="flex gap-8">
        <!-- First small card -->
        <div class="card w-1/2 flex flex-col bg-white shadow-lg rounded-lg bg-opacity-25">
          <img
            src="https://hookdeck.com/_astro/ConsolidateEvents.iR6HjZmv_Z1MNl31.webp"
            alt="Reliable Infrastructure"
            class="rounded-lg" />
          <div class="p-4">
            <h2 class="card-title text-lg font-bold text-gray-800 dark:text-gray-100">Reliable Infrastructure</h2>
            <p class="text-gray-600 dark:text-gray-300">Leverage our globally distributed systems to ensure reliable data delivery.</p>
          </div>
        </div>

        <!-- Second small card -->
        <div class="card w-1/2 flex flex-col-reverse bg-white shadow-lg rounded-lg bg-opacity-25">
          <img
            src="https://hookdeck.com/_astro/ConsolidateEvents.iR6HjZmv_Z1MNl31.webp"
            alt="Seamless Integration"
            class="rounded-lg" />
          <div class="p-4">
            <h2 class="card-title text-lg font-bold text-gray-800 dark:text-gray-100">Seamless Integration</h2>
            <p class="text-gray-600 dark:text-gray-300">Integrate with your existing tools effortlessly to streamline workflows.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
