<!-- Heading Section -->
<div class="text-left justify-center items-center mb-5 px-40">
    <h1 class="text-3xl lg:text-4xl font-bold text-gray-800 dark:text-gray-100">Process</h1>
  </div>
  
  <!-- Cards Section -->
  <div class="flex justify-center items-center ">
    <div class="card w-full max-w-6xl shadow-lg rounded-lg overflow-hidden p-8 bg-opacity-25 bg-white ">
      <div class="flex w-full flex-col lg:flex-row gap-6">
        <!-- First Column: Large Vertical Card -->
        <div class="card rounded-box grid h-auto flex-grow place-items-center p-6 ">
          <div class="flex flex-col items-left">
            <h2 class="card-title text-2xl font-bold mb-2 text-gray-800 dark:text-gray-100">Filter and route messages</h2>
            <p class="text-left text-base text-gray-600 dark:text-gray-300">
              Use payload data to selectively filter events and control their final destination.
            </p>
            <img
              src="https://hookdeck.com/_astro/FilterMessages_1.qpuizpp__Z12c6eu.webp"
              alt="Large Card Image"
              class="mb-4 w-full object-cover max-h-64" />
            <img
              src="https://hookdeck.com/_astro/FilterMessages_2.EdtX-W2k_25LmEH.webp"
              alt="Large Card Image"
              class="mb-4 w-full object-cover max-h-64" />
          </div>
        </div>
  
        <!-- Second Column: Two Small Cards -->
        <div class="flex flex-col flex-grow gap-4">
          <!-- First Small Card -->
          <div class="card shadow-lg rounded-lg flex flex-col p-6 ">
            <h2 class="card-title text-lg font-bold text-gray-800 dark:text-gray-100">Transform data</h2>
            <p class="text-gray-600 dark:text-gray-300">
              Use custom logic to modify and conform metadata and payloads.
            </p>
            <img
              src="https://hookdeck.com/_astro/TransformData.g1g_f_Sj_14ta2i.webp"
              alt="Transform Data"
              class="mb-4 w-full object-cover max-h-40" />
          </div>
          <!-- Second Small Card -->
          <div class="card shadow-lg rounded-lg flex flex-col p-6 ">
            <h2 class="card-title text-lg font-bold text-gray-800 dark:text-gray-100">Pause now, play later</h2>
            <p class="text-gray-600 dark:text-gray-300">
              Queue events during scheduled downtime and unplanned outages.
            </p>
            <img
              src="https://hookdeck.com/_astro/PauseEvents.x9hXfevd_Z1nOVP4.webp"
              alt="Pause Now, Play Later"
              class="mb-4 w-full object-cover max-h-40" />
          </div>
        </div>
      </div>
    </div>
  </div>
  